alertmanager:
  enabled: false

kube-state-metrics:
  enabled: false

prometheus-node-exporter:
  enabled: false

prometheus-pushgateway:
  enabled: false

configmapReload:
  prometheus:
    enabled: false

server:
  image:
    repository: "{{ prometheus_image_repository }}"
    tag: "{{ prometheus_image_tag }}"
    pullPolicy: IfNotPresent
  persistentVolume:
    enabled: false
  service:
    type: ClusterIP
  retention: "7d"
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 300m
      memory: 512Mi
